@import '../colors/colors';

table, th, td {
  border: 0.5px solid black;
  border-collapse: collapse;
}

.week{
    width:fit-content;
    // display: flex;
    // flex-direction: row;
    // margin-left:2px;
    min-width: 257px;
    min-height: 450px;
    display: table;
}

.week-total-div{
  display: flex;
  flex-direction: row;
}

.week-total-hours{
  height:29px;
  padding:10px;
  padding-right: 50px;
  padding-left: 20px;
  font-size:1.5rem;
  background:#c4c4c4;
  width:fit-content;
}

.triangle-topleft {
  width: 0;
  height: 0;
  border-bottom: 49px solid #c4c4c4;
  border-right: 49px solid transparent;
  transform: rotate(90deg);
}

.day-info{
  height: 37px;
  width:256px;
  text-align: center;
  border-bottom-color: white;
  font-weight: 400;
}