@import '../colors/colors';

.timesheet-entry {
    display:flex;
    flex-direction: row;
    // justify-content: space-between;
    background-color: $theme-green;
    margin: 10px; 
    font-size: 1.15rem;
    width:225px;
    border:5px;
    border-color:$theme-green;
    border-style: solid;
    transition-property: background, border;
    transition-duration: 0.2s;
    // font-weight: bolder;
}

.timesheet-entry:hover{
    background-color: $theme-green-opacity;
    border-color:  rgba(0,0,0,0);
    cursor: pointer;
}

.timesheet-text-div{
    display:flex;
    // flex-direction: column;
    justify-content: space-between;
    flex-grow: 10;
}

.timesheet-entry-name{
    display:flex;
    justify-content: flex-start;
    margin-left: 5px;
    // margin-top:5px;
    width:fit-content;
}

.timesheet-entry-hours{
    display:flex;
    justify-content: flex-end;
    margin-right:5px;
    // margin-bottom:5px;
}

@mixin timesheet-delete-reset{
    background: none;
    border: none;
    font-size: 1.1rem;
    margin-right: -8px;
    align-self: end;
    margin-top:-5px;
}

.timesheet-entry-delete{
    @include timesheet-delete-reset;
}

.timesheet-entry-delete:hover{
    color:white;
    cursor: pointer;
}

.timesheet-entry-delete:active,.timesheet-entry-delete:focus {
    @include timesheet-delete-reset;
    outline: none;
    box-shadow:none;
}